<% content_for :title do %>
  Login
<% end %>


<%= page_header("Login") %>




<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <%= form_for(:session, url: login_path) do |f| %>
    <%= div_for_errors(flash[:alert]) do %>
    <small class="form-text text-danger"><%= flash[:alert] %></small>
    
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', required: true %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', required: true %>

      <%= f.submit "Log in", class: "btn btn-dark mt-3 px-4" %>
      <% end %>
    <% end %>
  </div>
</div>

