<% content_for :title do %>
  Login
<% end %>


<h1>Login</h1>

<% if flash[:alert] %>
  <small class="form-text text-danger"><%= flash[:alert] %></small>
<% end %>


<%= form_for(:session, url: login_path) do |f| %>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Login" %>
<% end %>

