
  <% content_for :title do %>
    users-page
  <% end %>
    <div id="insert_reviews">
    <%= link_to "List My Reviews", user_path(@user), class: "load_reviews btn btn-primary" %>
    </div>
    
  <%= link_to "Delete account", user_path(@user), method: :delete, class: "badge badge-pill badge-danger float-right", data: {confirm: "Are you Sure??"} %>
    

  <%= page_header("#{current_user.username}",sub_header: "My Reviewed Products:") %>
  


  <%= flash_message(flash[:notice], "success") %>
  
  
  <%= div_flex_for_products do %>
      <%= render partial: "products/product_display", collection: current_user.products, as: :product %>       
  <% end %>



