
<% content_for :title do %>
  users-page
<% end %>




  <h1 class="justify-content-between d-flex"> 
    <%= current_user.username %>'s page
    <small> <%= link_to "Delete account", user_path(@user), method: :delete %></small>
  </h1> 
  <%= flash_message(flash[:notice], "success") %>
  
  
  
        <div class="row">
          <% current_user.products.each do |product| %>
            <div class="container col-sm-3 bg-light">
              <%= image_link(product) do %>
            <img class="img-thumbnail" src="<%= product.img %>" alt="Card image cap">
            <% end %>
            <p class="font-weight-bold w-70"><%=product.name %></p>
            <%= render partial: "modal_description", locals: {product: product} %>
            <%= render partial: "modal_reviews", locals: {product: product} %>
            
            </div>
          <% end %>

        </div>



