
<% content_for :title do %>
  users-page
<% end %>


  <div class="row">
    <h1 class="d-flex justify-content-around card-body"> <%= current_user.username %>'s page</h1> 
    <%= link_to "Delete account", user_path(@user), method: :delete, class: "d-flex justify-content-end flex-column" %>

  </div>


  <%= flash_message(flash[:notice], "success") %>
  
  
  
        <div class="row">
          <% current_user.products.each do |product| %>
            <div class="container col-sm-3 bg-light">
              <%= image_link(product) do %>
            <img class="img-thumbnail" src="<%= product.img %>" alt="Card image cap">
            <% end %>
            <p class="font-weight-bold w-70"><%=product.name %></p>
            <%= render partial: "modal_description", locals: {product: product} %>
            <%= render partial: "modal_reviews", locals: {product: product} %>
            
            </div>
          <% end %>

        </div>



