<div class="container">
  <h1> <%= current_user.username %>s' page</h1> 
  
  
  
        <div class="row">
          <% current_user.products.each do |product| %>
            <div class="container col-sm-3 bg-light">
            <img class="img-thumbnail" src="<%= product.img %>" alt="Card image cap">
            <p class="font-weight-bold w-70"><%=product.name %></p>
            <%= render partial: "modal_description", locals: {product: product} %>
            <%= render partial: "modal_reviews", locals: {product: product} %>
            <img class="img-thumbnail" src="<%= product.img %>" alt="Card image cap">
            <p class="font-weight-bold w-70"><%=product.name %></p>
            <%= render partial: "modal_description", locals: {product: product} %>
            <%= render partial: "modal_reviews", locals: {product: product} %>
            </div>
          <% end %>

        </div>




</div>
