



<%= div_card_for_review(review) do %>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted justify-content-between d-flex">reviewed by:
      <%= delete_comment(review) %>
    </h6>
    <h5 class="card-title justify-content-between d-flex"><%= review.users_name %></h5>
    <p class="card-text"><%= review.content %></p>
    <%= link_to "Product Page", product_reviews_path(review.product), class: "card-link" unless current_page?(action: 'index') %>
    <%= review_edit_link(review) %>
  </div>
<% end %>