<div class="container">
  <h2>Products</h2>
  <%= form_tag products_path, method: :get, action: :index, class: 'form-row mb-5' do %>
    <%= select_tag "filter by", raw("<option>Most Reviews</option><option>Best Voted</option><option>Most Recent</option>"), class: 'form-control w-50' %>
    <%= submit_tag "filter", class: 'btn btn-success' %>
  <% end %>
  
  <% @products.each do |product| %>
    <img src="<%=product.img%>" alt="" width="200" height="200">
    <li><%= link_to product.name, product_path(product) %></li> 
    <li> <%= product.description %></li>
    <li><%= product.link %></li>
    <li><%= product.price %></li>
    <br>
  <% end %>
</div>

