<h2> <%= @product.name %></h2>

<li><%= @product.price %></li>
<li><%= @product.description %></li>
<li><%= link_to "see on Amazon", @product.link %></li>

<img src="<%= @product.img %>" alt="" width="300" height="300">




    <h3>Reviews</h3>
<% @product.reviews.each do |review| %>
  <div>
    
    <%= review.content %> 
    <%= link_to "Edit Review", edit_product_review_path(@product, review) %>
  </div>
<% end %>

<%= form_for [@product, @product.reviews.build] do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Add Review" %>
<% end %>
