
<% content_for :title do %>
    product
  <% end %>


  <%= page_header(@product.name) %>
<div class="float-right" id="divForError"> 
<%= link_to "Different Product", product_path(@product), id: "differentProduct", data: {product: @product.id}  %>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "See Reviews", product_reviews_path(@product), class: "btn btn-sm btn-primary", id: "seeReviews" %>
    <%= link_to "Reviewers", product_reviews_path(@product), class: "btn btn-sm btn-primary", id: "seeUsers" %> 
</div>


<div id="newContent" class="d-flex justify-content-center card-columns">
    <img src="<%= @product.img %>" alt="Product img" width="300" height="300">
    <div class="card col-sm-4">
        <div class="card-body">
            <%=@product.description%>
        </div>
    </div>
</div>
