
<div class="container">
  <h2> <%= @product.name %></h2>
  <div class="row">

    <div class="col-6 col-sm-4 offset-md-2 mb-5">
      <img src="<%= @product.img %>" alt="" width="300" height="300">
    </div>
    
    <div class="col-12 col-sm-6 align-self-center">
      <li><%= @product.price %></li>
      <li><%= @product.description %></li>
      <li><%= link_to "see on Amazon", @product.link %></li>
  
    </div>
  </div>
  
  
  
  
    <div class="col-sm-6">
      <h3 class="text-center mb-5">Reviews</h3>
      <%= render collection: @product.reviews, partial: "card_reviews", as: :review %>
        <% if flash[:alert] %>
          <% flash[:alert].each do |alert| %>
          <%= alert %>
          <% end %>
        <% end %>
      <%= form_for [@product, @product.reviews.build] do |f| %>
        <%= f.text_area :content, class: "form-control-lg col p-3 mt-4" %>
        <%= f.submit "Add Review", class: "mb-5 btn btn-outline-info" %>
      <% end %>
    </div> 
    

  
  

</div>
