
<div class="container">
  <h2> <%= @product.name %></h2>
  <div class="row">

    <div class="col-6 col-sm-4 offset-md-2 mb-5">
      <img src="<%= @product.img %>" alt="" width="300" height="300">
    </div>
    
    <div class="col-12 col-sm-6 align-self-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @product.description %></li>
        <li class="list-group-item"><%= link_to "see on Amazon", @product.link %></li>
        <li class="list-group-item text-danger">$<%= @product.price %></li>
      </ul>
    </div>
  </div>
  
  
  
  
    <div class="col-sm-6">
      <h3 class="text-center mb-5">Reviews</h3>
      <%= render collection: @product.reviews, partial: "card_reviews", as: :review %>
       
      <%= form_for [@product, @product.reviews.build] do |f| %>
      <%= review_errors(flash[:alert])%>
        <%= f.text_area :content, class: "form-control-lg col p-3 mt-4" %>
        <%= f.submit "Add Review", class: "mb-5 btn btn-outline-info" %>
      <% end %>
    </div> 
    

  
  

</div>
