<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render "layouts/nav/navbar" %>
    
    <p class="ml-2"><u>Top Reviewer: <%= top_user.username %></u></p>

    <div class="container bg-light pb-5" id="pageContainer">
      <%= yield %>
    </div>
  </body>
</html>
